

$small: 4px;
$medium: 8px;
$large: 12px;
$xl: 16px;

$darktheme-bgcolor: black;
$darktheme-color: white;
$lighttheme-bgcolor: LemonChiffon;
$lighttheme-color: black;



.myborder{
    border: 1px solid;
}

.div1{
    margin: 20px;
}

.first{
    position: relative;
    border: 1px solid;
    height: 250px;
    width: 100px;

}

.second{
    position: absolute;
    border: 1px solid;
    height:80px;
    width: 20px;
    top: 170px;
}

@mixin darktheme {
background-color: $darktheme-bgcolor;
color: $darktheme-color;    
}

@mixin lighttheme {
    background-color: $lighttheme-bgcolor;
    color: $lighttheme-color;
    
}

.darktheme{
    @include darktheme;
    height: 300px;
    width: 300px;
}

.lighttheme{
    @include lighttheme;
    height: 300px;
    width: 300px;
}

